html{
    background-color: yellow;
}

.form-control{
    margin-right: 20px;
}
.input-group{
    background-color: lightblue;
    display: flex;
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}
.card {
    background-color: aliceblue;
}
.card-body{
    background-color: palegreen;
}
.table{
    outline: 1px solid black;
    /* margin-left: 20px;
    margin-right: 20px;
    width: 100%; */
    text-align: center;
}